* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgba(128, 0, 128, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


#card-container {
    background-image: linear-gradient(#2714a18b, #3b095389);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    gap: 2rem;
    border-radius: 0.7rem;
}

#card-icon {
    max-width: 20rem;
    min-width: 15rem;
    align-self: flex-start;
    padding-left: 5rem;
}

#card-city {
    font-size: 4rem;
}

#card-temp {
    font-size: 4rem;
}



#root {
    background-color: rgba(128, 0, 128, 0.5);
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    // position: relative;
}

#backgroundHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    
    
}

.search-main {    
    width: 50%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    z-index: 11;

}

#card-main {
    width: 50%;
    height: 100%;
    padding-top: 4rem;   
    z-index: 11; 
}

.input-field {
    display: flex;
    width: 50%;
    flex-direction: column;    
    align-items: flex-start;
}

#searchbar {
    padding: 0.3rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    border: none;
    text-transform: capitalize;
    width: 100%;
    
}

#searchbar:focus {
    border-style: solid;
    border-width: 0.12rem;
    outline: #222222;
}

#searchtitle {
    padding: 0.1rem;
    margin: 0.2rem;
}

.dropdown {
    width:50%;
    // border: 0.1rem solid black;
    display: none;
    position: absolute;
    top:7.3rem;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 20em;
    z-index: 11;
    border-radius: 0.7rem;
    color:#222222
    
}
.match{
    width: 100%;
    padding: 0.1rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.455);
    // border-bottom: 0.1rem solid #222222;
}
.match:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.757);
    color: #111111;

}