* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
}

#root {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-main {    
    width: 20rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-field {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}

#searchbar {
    padding: 0.3rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    border: none;
}

#searchbar:focus {
    border-style: solid;
    border-width: 0.12rem;
    outline: #222222;
}

#searchtitle {
    padding: 0.1rem;
    margin: 0.2rem;
}

.dropdown {

}